<body style=" background-image: url(logo.xcf.png);    background-repeat: repeat;">
<link rel="stylesheet" href="login.style.css">
<img src="logo.png" style="text-align:center;display:block;"/>
<!-- Form Mixin-->
<!-- Input Mixin-->
<!-- Button Mixin-->
<!-- Pen Title-->
<div class="pen-title">
    <h1>Visual Assessment</h1>
</div>
<!-- Form Module-->
<div class="module form-module">
    <div class="toggle"><i class="fa fa-times fa-pencil"></i>
        <div class="tooltip"><!--Click Me--></div>
    </div>
    <div class="form" ng-controller="loginCntrl">
        <h2>Login to your account</h2>
        <xform method="post" action="index.jsp">
            <input type="text" ng-model="login_un" placeholder="Username" autofocus />
            <input type="password" ng-model="login_pw" placeholder="Password"/>
            <button ng-click="onClk(event)">Login</button>
        </xform>
    </div>
    <div class="form">
        <h2>Create an account</h2>
        <form>
            <input type="text" placeholder="Username"/>
            <input type="password" placeholder="Password"/>
            <input type="email" placeholder="Email Address"/>
            <input type="tel" placeholder="Phone Number"/>
            <button>Register</button>
        </form>
    </div>
    <div class="cta"><a href="#"><!--Forgot your password?--></a></div>
</div>
<script src='jquery.min.js'></script>
<script src="login.index.js"></script>
</body>
