<html ng-app="app"><head>
<link href="favicon.ico" rel="shortcut icon" />
<script src="/angular-1.6.4/angular.js"></script>
<script src="/angular-1.6.4/angular-sanitize.min.js"></script>
<script src="/angular-1.6.4/angular-md5.js"></script>
<script src="/angular-1.6.4/angular-ui-router.js"></script>
<script src="app.js"></script>
</head><body ng-controller="MainCtrl">
<pre style="display:none"> {{app}}</pre>
<ng-include ng-if="app.usr || usrFlag" src="'template-header.html'"></ng-include>
<main ui-view></main>
<ng-include ng-if="app.usr || usrFlag" src="'template-footer.html'"></ng-include>
</body></html>