<h1>Projects</h1>
<table><tr>
  <th >sn</th>
  <th>Title</th><th>Desc</th><th>Created</th><th>by</th><th>Description</th><th>no. Buildings</th><th>no.Sheets</th></tr>

<tr ng-repeat="proj in projects" entity="projects" pk="{{proj.no}}" ng-click="app.proj=proj;location.hash='#!/project'" href="#!/project">
	<td ng-init="serialNo=$index+1"><a ng-click="app.proj=proj;" href="#!/project">{{serialNo}}</td>
	<td><h2 class="title"><a ng-click="app.proj=proj;" href="#!/project">{{proj.title}}</h2></td>
	<td name="shortDesc"><a ng-click="app.proj=proj;" href="#!/project">{{proj.shortDesc}}</td>
	<td class="meta"
		><a ng-click="app.proj=proj;" href="#!/project" class="author"
			><time class="published" datetime="{{proj.date}}" name="date"
				>{{proj.date}}</time></td>
	<td><a ng-click="app.proj=proj;" href="#!/project"
		><span class="name" name="author" title="author name"
			>{{proj.owner}}<img src="assets/images/avatar.jpg" alt="author image" /></td>

	<td name="desc"><a ng-click="app.proj=proj;" href="#!/project"
		>{{proj.desc}}</td>
	<td class="stats icon fa-heart" name="heart"
		title="number of buildings in this project" 
		ng-click="app.proj=proj;location.hash='#!/project'"
		>{{proj.buildings.length}}</td>
	<td ng-click="app.proj=proj;location.hash='#!/project'" 
		title="number of sheets in this project"
		class="icon fa-comment" name="comment"
		>{{sheetsCountInProj(proj) }}</td footer>
</tr>

</table><a ng-click="proj=app.proj=newProj()" href="#!/project">New Project</a>
