<h1>Project</h1>
<table>
 <tr>
    <th>Title</th>
    <th>Desc</th>
    <th>Created</th>
    <th>by</th>
    <th>Description</th>
    <th>Actions</th>
    <th>#Buildings</th>
    <th>#Sheets</th></tr>
<tr entity="projects" class="editForm">
	<!--td><input n g - m o del="proj.title" n g - c hange="chng()" class="editable title" oldVal="{{proj.title}}" /></td-->
	<td ><input 
		ng-model="proj.title" 
		ng-blur="blr()" 
		ng-change="chng()" 
		class="editable title" 
		oldVal="{{proj.title}}" 
		style="border:none;background:none"
		/></td>
	<td><input 
		ng-model="proj.shortDesc" 
		class="editable" 
		ng-blur="blr()" 
		ng-change="chng()" /></td>
	<td class="meta"
		><time 
			class="published" 
			datetime="{{proj.date}}" 
			name="date"
			>{{proj.date}}</time></td>
	<td><a href="javascript:void(0)" 
		class="author"
			><span 
				class="name" 
				name="author" 
				title="author name"
			>{{proj.owner}}<img 
				src="assets/images/avatar.jpg" 
				alt="author image" /></a></td>
	<td><input 
		ng-model="proj.desc" 
		class="editable" 
		ng-blur="blr()" 
		ng-change="chng()" /></td>
	<td footer class="actions">
		<a 
			ng-click="'confirm(\'delete project '+proj.title+' ?\')'" 
			href="javascript:void(0)" 
			class="button big">Delete Project</a>
		<a 
			href="#!/building" 
			ng-click="app.bld=bld=newBld()" 
			class="button big">New Building</a></td>
	<td class="stats"
		><a 
		title="number of buildings in this project" 
		class="icon fa-heart" 
		name="heart"
		>{{proj.buildings.length}}</a></td>
	<td><a 
		title="number of sheets in this project" 
		href="javascript:void(0)" 
		class="icon fa-comment" 
		name="comment"
		>{{sheetsCountInProj(proj)}}</a></td >
</tr></table>

<h1>Buildings</h1>
<table>
<tr ><th>sn</th>
	<th>Title</th>
	<th>Notes</th>
	<th>Created</th>
	<th>by</th>
	<th>#Floors</th>
	<th>#Sheets</th>
</tr>
<tr xclass="mini-post building" ng-repeat="bld in proj.buildings">
	<td ng-init="serialNo=$index+1"
		>{{serialNo}}</td>
	<td><h3><a 
		ng-click="app.bld=bld" 
		href="#!/building" 
		name="title"
		>{{bld.title}}</a></h3></td>
	<td>{{bld.notes}}</td>
	<td><time 
		class="published" 
		datetime="{{bld.date }}"
		>{{bld.date}}</time></td>
	<td><a 
			href="javascript:void(0)" 
			class="author"
		><span 
			class="name" 
			name="author" 
			title="author name"
			>{{bld.owner}}</span
		><img 
			src="assets/images/avatar.jpg" 
			alt="author image" /></a></td>
	<td class="stats"
		><a 
			title="number of floors in this building" 
			class="icon fa-heart" 
			name="heart"
		>{{bld.floors.length}}</a></td>
	<td><a 
			title="number of sheets in this building" 
			href="javascript:void(0)" 
			class="icon fa-comment" 
			name="comment"
		>{{ sheetsCountInBld(bld) }}</a></td>
</tr>
</table>
