<div class="screen">
	<style>
		/* Page Definitions */
		@page WordSection1 {
			size: 8.5in 11.0in;
			margin: 31.5pt 1.25in 27.0pt 1.25in;
		}

		div.WordSection1 {
			page: WordSection1;
		}

		/* List Definitions */
		ol {
			margin-bottom: 0in;
		}

		ul {
			margin-bottom: 0in;
		}

		//label:before {
			d isplay: none;
		}

		input[type="checkbox"] {
			opacity: 1;
		}

		input.switch[type="checkbox"] {
			background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)), -webkit-linear-gradient(left, #f66 50%, #6cf 50%);
			background-size: 100% 100%, 150% 100%;
			background-position: 0 0, 15px 0;
			border-radius: 25px;
			box-shadow: inset 0 1px 4px hsla(0,0%,0%,.5), inset 0 0 10px hsla(0,0%,0%,.5), 0 0 0 1px hsla(0,0%,0%,.1), 0 -1px 2px 2px hsla(0,0%,0%,.25), 0 2px 2px 2px hsla(0,0%,100%,.75);
			cursor: pointer;
			height: 12.5px;
			left: 50%;
			x-margin: -12px -37px;
			padding-right: 25px;
			x-position: absolute;
			x-top: 50%;
			width: 30px;
			-webkit-appearance: none;
			-webkit-transition: .25s;
		}

		input.switch[type="checkbox"]:after {
			background-color: #eee;
			background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
			border-radius: 25px;
			box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1), inset 0 -1px 1px 1px hsla(0,0%,0%,.25), 0 1px 3px 1px hsla(0,0%,0%,.5), 0 0 2px hsla(0,0%,0%,.25);
			content: '';
			display: block;
			height: 15px;
			x-left: 0;
			position: relative;
			top: -1;
			width: 19px;
		}

		input.switch[type="checkbox"]:checked {
			background-position: 0 0, 15px 0;
			padding-left: 11px;
			padding-right: 0;
		}
.txtOff{background-color:lightgray}
.txtOn{background-color:none}
		.st01{/* style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;" */
		font-family:'Times New Roman' , 'serif'
		}

		.st02{/*style="width:54.9pt;border:solid black 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt"*/
			width:54.9pt;border:solid black 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt
		}

		.st03{border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt}
		.st04{/*style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;"*/
			font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
		}
		.st05{border:solid black 1.0pt;border-top:none;}

		.st06{border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt}
		.st07{border:none;border-right:solid black 1.0pt}
		.s8{vertical-align:top}
	</style>
	<div class="WordSection1">
		<table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0" style="width:450.9pt;border-collapse:collapse;border:none">
			<tbody>
				<tr>
					<td colspan="28" class="s8" style="width:450.9pt;border:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt">
						<p>
							<b>
								<u>
									<span class="st01">General information</span>
								</u>
							</b>
						</p>
					</td>
				</tr>
				<tr>
					<td width="73" class="s8 st02 st05">
						<span class="st01">Project</span>
					</td>
					<td colspan="5" style="width:103.5pt;" class="s8 st03">
						<a href="#!/project" class="data">{{ proj.title }}</a>
					</td>
					<td colspan="6" style="width:49.5pt;" class="s8 st03">
						<span class="st01">Building</span>
					</td>
					<td colspan="11" style="width:119.7pt;" class="s8 st03">
						<a href="#!/building" class="data">{{ bld.title }}</a>
					</td>
					<td colspan="4" style="width:37.8pt;" class="s8 st03">
						<span class="st04">Date</span>
					</td>
					<td style="width:85.5pt;" class="s8 st03">
						<input no="02" readonly="" type="datetime-local" class="data" ng-blur="blr()" ng-change="chng()" ng-model="sht.date">
						<input no="2.0" type="hidden" class="data" ng-blur="blr()" ng-change="chng()" ng-model="sht.lastModified" />
					</td>
				</tr>
				<tr>
					<td width="73" class="s8 st02 st05">
						<span class="st01">Floor</span>
					</td>
					<td colspan="2" style="width:39.85pt;" class="s8 st03">
						<a href="#!/floor" no="03" name="f" class="data">{{ flr.title }}</a>
					</td>
					<td colspan="5" style="width:76.5pt;" class="s8 st03">
						<span class="st01">Serial number</span>
					</td>
					<td colspan="5" style="width:45.25pt;" class="s8 st03">
						<input no="04" readonly ng-blur="blr()" ng-change="chng()" ng-model="sht.no" class="data"/>
					</td>
					<td colspan="7" style="width:89.75pt;" class="s8 st03">
						<span class="st01">Inspector`s name</span>
					</td>
					<td colspan="8" style="width:144.65pt;" class="s8 st03">
						<input ng-blur="blr()" ng-change="chng()" ng-model="sht.Inspector"/><a href="#!/user" no="05" name="u" class="data">{{ sht.owner }}</a>
					</td>
				</tr>
				<tr style="height:10.25pt">
					<td rowspan="2" style="width:54.9pt;padding:0in 5.4pt 0in 5.4pt;height:10.25pt" class="s8 st05">
						<span class="st01">Type of member</span>
					</td>
					<td colspan="4" style="width:98.35pt;padding:0in 5.4pt 0in 5.4pt;height:10.25pt" class="s8 st06">
						<input no="06" type="checkbox" id="TypeofMemberBeam" ng-blur="blr()" ng-change="chng()" ng-model="sht.TypeofMember.Beam" class="data"/>
						<label for="TypeofMemberBeam">Beam</label>
					</td>
					<td colspan="9" style="width:67.95pt;padding:0in 5.4pt 0in 5.4pt;height:10.25pt" class="s8 st06">
						<input no="07" type="checkbox" id="TypeofMemberColunm" ng-blur="blr()" ng-change="chng()" ng-model="sht.TypeofMember.Colunm" class="data"/>
						<label for="TypeofMemberColunm" xid="TypeofMember">Column</label>
					</td>
					<td colspan="5" style="width:49.5pt;padding:0in 5.4pt 0in 5.4pt;height:10.25pt" class="s8 st06">
						<input no="08" type="checkbox" id="TypeofMemberSlab" ng-blur="blr()" ng-change="chng()" ng-model="sht.TypeofMember.Slab" class="data"/>
						<label for="TypeofMemberSlab" xid="TypeofMember">Slab</label>
					</td>
					<td colspan="3" style="width:.75in;padding:0in 5.4pt 0in 5.4pt;height:10.25pt" class="s8 st06">
						<input no="09" type="checkbox" id="TypeofMemberStairs" ng-blur="blr()" ng-change="chng()" ng-model="sht.TypeofMember.Stairs" class="data"/>
						<label for="TypeofMemberStairs" xid="TypeofMember">Stairs</label>
					</td>
					<td colspan="6" style="width:126.2pt;padding:0in 5.4pt 0in 5.4pt;height:10.25pt" class="s8 st06">
						<input no="10" type="checkbox" id="TypeofMemberMansory" ng-blur="blr()" ng-change="chng()" ng-model="sht.TypeofMember.Mansory" class="data"/>
						<label for="TypeofMemberMansory" xid="TypeofMember">Masonry wall</label>
					</td>
				</tr>
				<tr style="height:10.25pt">
					<td colspan="4" style="width:98.35pt;padding:0in 5.4pt 0in 5.4pt;height:10.25pt" class="s8 st06">
						<input no="11" type="checkbox" id="TypeofMemberRC" ng-blur="blr()" ng-change="chng()" ng-model="sht.TypeofMember.RC" class="data"/>
						<label for="TypeofMemberRC" xid="TypeofMember">RC Wall</label>
					</td>

					<td colspan="11" style="width:81.0pt;padding:0in 5.4pt 0in 5.4pt;height:10.25pt" class="s8 st07">
						<input no="12" type="checkbox" id="TypeofMemberFoundation" ng-blur="blr()" ng-change="chng()" ng-model="sht.TypeofMember.Foundation" class="data"/>
						<label for="TypeofMemberFoundation" xid="TypeofMember">Foundation</label>
					</td>
					<td colspan="12" style="width:216.65pt;padding:0in 5.4pt 0in 5.4pt;height:10.25pt" class="s8 st07">
						<input no="13" 
							id="TypeofMemberOther" 
							ng-blur="blr()" 
							ng-change="chng()" 
							ng-model="sht.TypeofMember.Other" 
							type="checkbox" 
							class="data switch" 
							/>
						<style>
							label:after {
								display: none
							}
						</style>
						<label for="TypeofMemberOther" style="x-margin-left:40px;
								text-decoration: none;
								color: #646464;
								cursor: pointer;
								display: inline-block;
								font-size: 1em;
								font-weight: 400;
								padding-left: 2.4em;
								padding-right: 0.75em;
								position: relative;
							">Other:</label>
						<style>
							label:after {
								position: inherit;
								display: inherit
							}
						</style>
						<input no="14" 
							ng-blur="blr()" 
							ng-change="chng()" 
							ng-model="sht.TypeofMemberOtherText" 
							ng-readonly="! sht.TypeofMember.Other"
							id="TypeofMemberOtherText"
							ng-class="sht.TypeofMember.Other? 'txtOn' : 'txtOff' "
 
							class="data"/>
					</td>
				</tr>
				<tr style="height:31.4pt">
					<td style="width:54.9pt;padding:0in 5.4pt 0in 5.4pt;height:31.4pt" class="st05">
						<span class="st01">Location</span>
					</td>
					<td colspan="27" style="width:5.5in;padding:10 5.4pt 0in 5.4pt;height:31.4pt" class="s8 st06">
						<input no="15" ng-blur="blr()" ng-change="chng()" ng-model="sht.location" style="width: 95%;" class="data"/>
					</td>
				</tr>
				<tr style="height:10.5pt">
					<td rowspan="2" style="width:54.9pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="st05">
						<span class="st04">Exposure</span>
					</td>
					<td colspan="9" style="width:132.0pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="s8 st06">
						<input no="16" id="exposure.wetDry1" ng-blur="blr()" ng-change="chng()" ng-model="sht.exposure.wetDry" type="checkbox" value="1" class="data"/>
						<label for="exposure.wetDry1">Wetting and drying</label>
					</td>
					<td colspan="11" style="width:132.0pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="s8 st06">
						<input no="17" id="exposure.chemical" ng-blur="blr()" ng-change="chng()" ng-model="sht.exposure.chemical" type="checkbox" value="2" class="data"/>
						<label for="exposure.chemical">Chemical attack</label>
					</td>
					<td colspan="7" style="width:132.0pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="s8 st06">
						<input no="18" id="exposure.erosion" ng-blur="blr()" ng-change="chng()" ng-model="sht.exposure.erosion" type="checkbox" value="3" class="data"/>
						<label for="exposure.erosion">Abrasion/ erosion</label>
					</td>
				</tr>
				<tr style="height:10.5pt">
					<td colspan="9" style="width:132.0pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="s8 st06">
						<input no="19" id="exposure.elec" ng-blur="blr()" ng-change="chng()" ng-model="sht.exposure.elec" type="checkbox" value="4" class="data"/>
						<label for="exposure.elec">Electric conductivity</label>
					</td>
					<td colspan="18" style="width:264.0pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="s8 st06">
						<input no="20" id="exposure.heat" ng-blur="blr()" ng-change="chng()" ng-model="sht.exposure.heat" type="checkbox" value="5" class="data"/>
						<label for="exposure.heat">Heat from adjacent sources</label>
					</td>
				</tr>
				<tr style="height:10.5pt">
					<td rowspan="2" style="width:54.9pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="st05">
						<span class="st04">Loading condition</span>
					</td>
					<td colspan="5" style="width:103.5pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="s8 st06">
						<input no="21" id="LoadingCondition.Dead" ng-blur="blr()" ng-change="chng()" ng-model="sht.LoadingCondition.Dead" type="checkbox" value="1" class="data"/>
						<label for="LoadingCondition.Dead">Dead</label>
					</td>
					<td colspan="12" style="width:103.5pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="s8 st06">
						<input no="22" id="LoadingCondition.Live" ng-blur="blr()" ng-change="chng()" ng-model="sht.LoadingCondition.Live" type="checkbox" value="2" class="data"/>
						<label for="LoadingCondition.Live">Live</label>
					</td>
					<td colspan="8" style="width:101.0pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="s8 st06">
						<input no="23" id="LoadingCondition.Impact" ng-blur="blr()" ng-change="chng()" ng-model="sht.LoadingCondition.Impact" type="checkbox" value="3" class="data"/>
						<label for="LoadingCondition.Impact">Impact</label>
					</td>
					<td colspan="2" style="width:88.0pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="s8 st06">
						<input no="24" id="LoadingCondition.Vibration" ng-blur="blr()" ng-change="chng()" ng-model="sht.LoadingCondition.Vibration" type="checkbox" value="4" class="data"/>
						<label for="LoadingCondition.Vibration">Vibration</label>
					</td>
				</tr>
				<tr style="height:10.5pt">
					<td colspan="5" style="width:103.5pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="s8 st06">
						<input no="25" id="LoadingCondition.Traffic" ng-blur="blr()" ng-change="chng()" ng-model="sht.LoadingCondition.Traffic" type="checkbox" value="5" class="data"/>
						<label for="LoadingCondition.Traffic">Traffic</label>
					</td>
					<td colspan="12" style="width:103.5pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="s8 st06">
						<input no="26" id="LoadingCondition.Seismic" ng-blur="blr()" ng-change="chng()" ng-model="sht.LoadingCondition.Seismic" type="checkbox" value="6" class="data"/>
						<label for="LoadingCondition.Seismic">Seismic</label>
					</td>
					<td colspan="10" style="width:189.0pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="s8 st06">
						<p style="margin:0">
							<input no="27" 
								id="LoadingCondition.Other" 
								ng-blur="blr()" 
								ng-change="chng()" 
								ng-model="sht.LoadingCondition.Other" 
								type="checkbox" 
								value="7" 
								class="data switch " 
							old_chng="var x=document.getElementById('LoadingCondition.Other'),h=this.checked;x.readOnly=!h;x.style.backgroundColor=h?'':'lightgray';if(h){if(this.xVal!=undefined)x.value=this.xVal;}else{this.xVal=x.value;x.value='';}">
							<style>
								label:after {
									display: none
								}
							</style>
							<label for="LoadingCondition.Other" style="x-margin-left:40px;
									text-decoration: none;
									color: #646464;
									cursor: pointer;
									display: inline-block;
									font-size: 1em;
									font-weight: 400;
									padding-left: 2.4em;
									padding-right: 0.75em;
									position: relative;
								">Other:</label>
							<style>
								label:after {
									position: inherit;
									display: inherit
								}
							</style>
							<input no="28" 
								ng-blur="blr()" 
								ng-change="chng()" 
								ng-model="sht.LoadingConditionOther" 
								ng-class="(sht.LoadingCondition.Other ?'txtOff':'txtOn')+' data'" 
								ng-readonly="! sht.LoadingCondition.Other"
								id="LoadingConditionOther"/>
					</td>
				</tr>
				<tr style="height:10.5pt">
					<td colspan="13" class="s8" style="width:216.5pt;border-top:none;border-left:solid black 1.0pt;border-bottom:none;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt">
						<b>
							<u>
								<span class="st01">General condition</span>
							</u>
						</b>
					</td>
					<td colspan="15" style="width:234.4pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="s8 st07">
						<b>
							<u>
								<span class="st01">Distress indicator</span>
							</u>
						</b>
					</td>
				</tr>
				<tr style="height:10.5pt">
					<td colspan="2" rowspan="2" style="width:76.85pt;border-top:none;border-left:solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt;height:10.5pt">
						<input no="29" id="GeneralCondition1" ng-blur="blr()" ng-change="chng()" ng-model="sht.GeneralCondition" type="radio" value="Good" class="data"/>
						<label for="GeneralCondition1">
							<i>Good</i>
						</label>
					</td>
					<td colspan="5" rowspan="2" style="width:84.05pt;border:none;border-bottom:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt">
						<input no="30" id="GeneralCondition2" ng-blur="blr()" ng-change="chng()" ng-model="sht.GeneralCondition" type="radio" value="Satisfactory" class="data"/>
						<label for="GeneralCondition2">
							<i>Satisfactory</i>
						</label>
					</td>
					<td colspan="6" rowspan="2" style="width:55.6pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="st06">
						<input no="31" id="GeneralCondition3" ng-blur="blr()" ng-change="chng()" ng-model="sht.GeneralCondition" type="radio" value="Poor" class="data"/>
						<label for="GeneralCondition3">
							<i>Poor</i>
						</label>
					</td>
					<td colspan="12" class="s8" style="width:135.05pt;border:none;padding:0in 5.4pt 0in 5.4pt;height:10.5pt">
						<input no="32" type="checkbox" id="Distress.Cracking" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distress.Cracking" class="data"/>
						<label for="Distress.Cracking" xid="Distress">Cracking</label>
					</td>
					<td colspan="3" style="width:99.35pt;padding:0in 5.4pt 0in 5.4pt;height:10.5pt" class="s8 st07">
						<input no="33" type="checkbox" id="Distress.Staining" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distress.Staining" class="data"/>
						<label for="Distress.Staining" xid="Distress">Staining</label>
					</td>
				</tr>
				<tr style="height:15.5pt">
					<td colspan="12" class="s8" style="width:135.05pt;border:none;border-bottom:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:15.5pt">
						<input no="34" type="checkbox" id="Distress.Surface" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distress.Surface" class="data"/>
						<label for="Distress.Surface">Surface deposits</label>
					</td>
					<td colspan="3" style="width:99.35pt;padding:0in 5.4pt 0in 5.4pt;height:15.5pt" class="s8 st06">
						<input no="35" type="checkbox" id="Distress.Leaking" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distress.Leaking" class="data"/>
						<label for="Distress.Leaking">Leaking</label>
					</td>
				</tr>
				<tr style="height:17.95pt">
					<td colspan="4" rowspan="13" style="width:112.75pt;padding:0in 5.4pt 0in 5.4pt;height:17.95pt" class="s8 st05">
						<b>
							<u>
								<span class="st01">Cracking</span>
							</u>
						</b>
						<b>
							<span class="st01">Pattern</span>
						</b>
						<input no="36" type="checkbox" id="Cracking.Checking" ng-blur="blr()" ng-change="chng()" ng-model="sht.Cracking.Checking" class="data"/>
						<label for="Cracking.Checking" xid="Cracking">Checking</label>
						<input no="37" type="checkbox" id="Cracking.Craze" ng-blur="blr()" ng-change="chng()" ng-model="sht.Cracking.Craze" class="data"/>
						<label for="Cracking.Craze" xid="Cracking">Craze
				</label>
						<input no="38" type="checkbox" id="Cracking.D-cracks" ng-blur="blr()" ng-change="chng()" ng-model="sht.Cracking.D_cracks" class="data"/>
						<label for="Cracking.D-cracks" xid="Cracking">D-cracks</label>
						<input no="39" type="checkbox" id="Cracking.Diagnol" ng-blur="blr()" ng-change="chng()" ng-model="sht.Cracking.Diagnol" class="data"/>
						<label for="Cracking.Diagnol" xid="Cracking">Diagonal
				</label>
						<input no="40" type="checkbox" id="Cracking.Hairline" ng-blur="blr()" ng-change="chng()" ng-model="sht.Cracking.Hairline" class="data"/>
						<label for="Cracking.Hairline" xid="Cracking">Hairline
				</label>
						<input no="41" type="checkbox" id="Cracking.Longitudinal" ng-blur="blr()" ng-change="chng()" ng-model="sht.Cracking.Longitudinal" class="data"/>
						<label for="Cracking.Longitudinal" xid="TypeofMember">Longitudinal
				</label>
						<input no="42" type="checkbox" id="Cracking.Map" ng-blur="blr()" ng-change="chng()" ng-model="sht.Cracking.Map" class="data"/>
						<label for="Cracking.Map" xid="Cracking">Map
				</label>
						<input no="43" type="checkbox" id="Cracking.Pattern" ng-blur="blr()" ng-change="chng()" ng-model="sht.Cracking.Pattern" class="data"/>
						<label for="Cracking.Pattern" xid="Cracking">Pattern
				</label>
						<input no="44" type="checkbox" id="Cracking.Plastic" ng-blur="blr()" ng-change="chng()" ng-model="sht.Cracking.Plastic" class="data"/>
						<label for="Cracking.Plastic" xid="Cracking">Plastic
					shrinkage </label>
						<input no="45" type="checkbox" id="Cracking.Random" ng-blur="blr()" ng-change="chng()" ng-model="sht.Cracking.Random" class="data"/>
						<label for="Cracking.Random" xid="Cracking">Random
				</label>
						<input no="46" type="checkbox" id="Cracking.Shrinkage" ng-blur="blr()" ng-change="chng()" ng-model="sht.Cracking.Shrinkage" class="data"/>
						<label for="Cracking.Shrinkage" xid="Cracking">Shrinkage
				</label>
						<input no="47" type="checkbox" id="Cracking.Temperature" ng-blur="blr()" ng-change="chng()" ng-model="sht.Cracking.Temperature" class="data"/>
						<label for="Cracking.Temperature" xid="Cracking">Temperature
				</label>
						<input no="48" type="checkbox" id="Cracking.Transverse" ng-blur="blr()" ng-change="chng()" ng-model="sht.Cracking.Transverse" class="data"/>
						<label for="Cracking.Transverse" xid="Cracking">Transverse</label>
						<b>
							<span class="st01">&nbsp;</span>
						</b>
						<b>
							<span class="st01">Other Attributes</span>
						</b>
						<span style="font-family:Symbol">
							<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						</span>
						<span dir="LTR"></span>
						<span class="st01">
						Width<input no="49" ng-blur="blr()" ng-change="chng()" ng-model="sht.width" style="width: 50px;" id="widthNumber" type="number" min="0" step="0.05" class="data"/>mm
						</span>
						<input no="50" type="checkbox" id="Leaching" ng-blur="blr()" ng-change="chng()" ng-model="sht.Leaching" class="data"/>
						<label for="Leaching">Leaching</label>
						<input no="51" type="radio" value="Working" id="WorkingOrDormant1" ng-blur="blr()" ng-change="chng()" ng-model="sht.WorkingOrDormant" class="data"/>
						<label for="WorkingOrDormant1">Working</label>
						<input no="52" type="radio" value="Dormant" id="WorkingOrDormant2" ng-blur="blr()" ng-change="chng()" ng-model="sht.WorkingOrDormant" class="data"/>
						<label for="WorkingOrDormant2">Dormant</label>
					</td>
					<td colspan="20" class="s8" style="width:220.85pt;border-top:none;border-left:none;border-bottom:solid black 0.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.95pt">
						<b>
							<u>
								<span class="st01">Distresses</span>
							</u>
						</b>
					</td>
					<td colspan="4" rowspan="9" style="width:117.3pt;padding:0in 5.4pt 0in 5.4pt;height:17.95pt" class="s8 st06">
						<b>
							<u>
								<span class="st01">Textural features</span>
							</u>
						</b>
						<br/>
						<input no="53" type="checkbox" id="Textural.AirVoid" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.AirVoid" class="data"/>
						<label for="Textural.AirVoid" xid="Textural">Air void</label>
						<br/>
						<input no="54" type="checkbox" id="Textural.Blistering" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.Blistering" class="data"/>
						<label for="Textural.Blistering" xid="Textural">Blistering</label>
						<br/>
						<input no="55" type="checkbox" id="Textural.Bugholes" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.Bugholes" class="data"/>
						<label for="Textural.Bugholes" xid="Textural">Bugholes</label>
						<br/>
						<input no="56" type="checkbox" id="Textural.ColdJoints" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.ColdJoints" class="data"/>
						<label for="Textural.ColdJoints" xid="Textural">Cold joint</label>
						<br/>
						<input no="57" type="checkbox" id="Textural.ColdLines" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.ColdLines" class="data"/>
						<label for="Textural.ColdLines" xid="Textural">Cold-joint lines</label>
						<br/>
						<input no="58" type="checkbox" id="Textural.Discoloration" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.Discoloration" class="data"/>
						<label for="Textural.Discoloration" xid="Textural">Discoloration</label>
						<br/>
						<input no="59" type="checkbox" id="Textural.Honeycomb" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.Honeycomb" class="data"/>
						<label for="Textural.Honeycomb" xid="Textural">Honeycomb</label>
						<br/>
						<input no="60" type="checkbox" id="Textural.Incrustation" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.Incrustation" class="data"/>
						<label for="Textural.Incrustation" xid="Textural">Incrustation</label>
						<br/>
						<input no="61" type="checkbox" id="Textural.Laitance" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.Laitance" class="data"/>
						<label for="Textural.Laitance" xid="Textural">Laitance</label>
						<br/>
						<input no="62" type="checkbox" id="Textural.SandPocket" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.SandPocket" class="data"/>
						<label for="Textural.SandPocket" xid="Textural">Sand pocket</label>
						<br/>
						<input no="63" type="checkbox" id="Textural.SandStreak" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.SandStreak" class="data"/>
						<label for="Textural.SandStreak" xid="Textural">Sand streak</label>
						<br/>
						<input no="64" type="checkbox" id="Textural.Segregation" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.Segregation" class="data"/>
						<label for="Textural.Segregation" xid="Textural">Segregation</label>
						<br/>
						<input no="65" type="checkbox" id="Textural.Staining" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.Staining" class="data"/>
						<label for="Textural.Staining" xid="Textural">Staining</label>
						<br/>
						<input no="66" type="checkbox" id="Textural.Stalactite" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.Stalactite" class="data"/>
						<label for="Textural.Stalactite" xid="Textural">Stalactite</label>
						<br/>
						<input no="67" type="checkbox" id="Textural.Stalagmite" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.Stalagmite" class="data"/>
						<label for="Textural.Stalagmite" xid="Textural">Stalagmite</label>
						<br/>
						<input no="68" type="checkbox" id="Textural.Stratification" ng-blur="blr()" ng-change="chng()" ng-model="sht.Textural.Stratification" class="data"/>
						<label for="Textural.Stratification" xid="Textural">Stratification</label>
					</td>
				</tr>
				<tr style="height:64.0pt">
					<td colspan="11" class="s8" style="width:110.35pt;border:none;border-bottom:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:64.0pt">
						<input no="69" type="checkbox" id="Distresses.Chalking" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Chalking" class="data"/>
						<label for="Distresses.Chalking" xid="Distresses">Chalking</label>
						<br/>
						<input no="70" type="checkbox" id="Distresses.Deflection" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Deflection" class="data"/>
						<label for="Distresses.Deflection" xid="Distresses">Deflection</label>
						<br/>
						<input no="71" type="checkbox" id="Distresses.Delamination" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Delamination" class="data"/>
						<label for="Distresses.Delamination" xid="Distresses">Delamination</label>
						<br/>
						<input no="72" type="checkbox" id="Distresses.Distortion" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Distortion" class="data"/>
						<label for="Distresses.Distortion" xid="Distresses">Distortion</label>
						<br/>
						<input no="73" type="checkbox" id="Distresses.Dusting" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Dusting" class="data"/>
						<label for="Distresses.Dusting" xid="Distresses">Dusting</label>
						<br/>
						<input no="74" type="checkbox" id="Distresses.Exfoliation" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Exfoliation" class="data"/>
						<label for="Distresses.Exfoliation" xid="Distresses">Exfoliation</label>
						<br/>
						<input no="75" type="checkbox" id="Distresses.Leakage" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Leakage" class="data"/>
						<label for="Distresses.Leakage" xid="Distresses">Leakage</label>
						<br/>
						<input no="76" type="checkbox" id="Distresses.Peeling" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Peeling" class="data"/>
						<label for="Distresses.Peeling" xid="Distresses">Peeling</label>
						<br/>
						<input no="77" type="checkbox" id="Distresses.Warping" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Warping" class="data"/>
						<label for="Distresses.Warping" xid="Distresses">Warping</label>
					</td>
					<td colspan="9" style="width:110.5pt;padding:0in 5.4pt 0in 5.4pt;height:64.0pt" class="s8 st06">
						<input no="78" type="checkbox" id="Distresses.Curling" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Curling" class="data"/>
						<label for="Distresses.Curling" xid="Distresses">Curling</label>
						<input no="79" type="checkbox" id="Distresses.Deformation" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Deformation" class="data"/>
						<label for="Distresses.Deformation" xid="Distresses">Deformation</label>
						<input no="80" type="checkbox" id="Distresses.Disintegration" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Disintegration" class="data"/>
						<label for="Distresses.Disintegration" xid="Distresses">Disintegration</label>
						<input no="81" type="checkbox" id="Distresses.DrummyArea" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.DrummyArea" class="data"/>
						<label for="Distresses.DrummyArea" xid="Distresses">Drummy area</label>
						<input no="82" type="checkbox" id="Distresses.Efflorescence" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Efflorescence" class="data"/>
						<label for="Distresses.Efflorescence" xid="Distresses">Efflorescence</label>
						<input no="83" type="checkbox" id="Distresses.Exudation" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Exudation" class="data"/>
						<label for="Distresses.Exudation" xid="Distresses">Exudation</label>
						<input no="84" type="checkbox" id="Distresses.MortarFlaking" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.MortarFlaking" class="data"/>
						<label for="Distresses.MortarFlaking" xid="Distresses">Mortar flaking</label>
						<input no="85" type="checkbox" id="Distresses.Pitting" ng-blur="blr()" ng-change="chng()" ng-model="sht.Distresses.Pitting" class="data"/>
						<label for="Distresses.Pitting" xid="Distresses">Pitting</label>
						<span class="st01">&nbsp;</span>
					</td>
				</tr>
				<tr style="height:.25in">
					<td colspan="20" style="width:220.85pt;" class="s8 st07">
						<script>
							function onChangeJointDefi(evt) {
								var x
								, t = evt.target || event.srcElement
								, a = document.getElementsByClassName('JointDeficiencies')
								, h = t.checked
								, n
								, old = t.old;
								if (!old)
									old = t.old = {}
								//x.style.backgroundColor=h?'':'lightgray';x.readOnly=!h;
								for (var i = 0; i < a.length; i++) {
									x = a[i];
									n = x.name;
									x.disabled = !h;
									x.style.backgroundColor = h ? '' : 'lightgray';
									if (h)
										x.checked = old[n];
									else {
										old[n] = x.checked;
										x.checked = false;
									}
								}
							}
						</script>
						<input no="86" type="checkbox" id="Joint Deficiencies" ng-blur="blr()" ng-change="chng()" ng-model="sht.JointDeficiencies" onchange="onChangeJointDefi(event)" class="switch data" style="opacity:1">
						<label for="Joint Deficiencies" style="margin-left:5px;position:static; height:0;padding-top:1px;padding-bottom:1px;margin-bottom:1px;">Joint deficiencies</label>
					</td>
				</tr>
				<tr style="height:.25in">
					<td colspan="7" class="s8" style="width:92.2pt;border:none;padding:0in 5.4pt 0in 5.4pt;height:.25in">
						<input no="87" type="checkbox" disabled class="JointDeficiencies data" id="JointDeficiencies.Spall" ng-blur="blr()" ng-change="chng()" ng-model="sht.JointDeficiencies.Spall">
						<label for="JointDeficiencies.Spall">Spall</label>
					</td>
					<td colspan="13" style="width:128.65pt;padding:0in 5.4pt 0in 5.4pt;height:.25in" class="s8 st07">
						<input no="88" type="checkbox" disabled class="JointDeficiencies data" id="JointDeficiencies.SealantFailure" ng-blur="blr()" ng-change="chng()" ng-model="sht.JointDeficiencies.SealantFailure">
						<label for="JointDeficiencies.SealantFailure">Sealant failure</label>
					</td>
				</tr>
				<tr style="height:.25in">
					<td colspan="7" class="s8" style="width:92.2pt;border:none;border-bottom:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:.25in">
						<input no="89" type="checkbox" disabled class="JointDeficiencies data" id="JointDeficiencies.Leakage" ng-blur="blr()" ng-change="chng()" ng-model="sht.JointDeficiencies.Leakage">
						<label for="Leakage">Leakage</label>
					</td>
					<td colspan="13" style="width:128.65pt;padding:0in 5.4pt 0in 5.4pt;height:.25in" class="s8 st06">
						<input no="90" type="checkbox" disabled class="JointDeficiencies data" id="JointDeficiencies.Fault" ng-blur="blr()" ng-change="chng()" ng-model="sht.JointDeficiencies.Fault">
						<label for="Fault">Fault</label>
					</td>
				</tr>
				<tr style="height:16.6pt">
					<td colspan="20" style="width:220.85pt;padding:30px 5.4pt 0in 5.4pt;" class="s8 st07">
						<script>
							function onChangePopout(evt) {
								var x, t = evt.target || event.srcElement
								, a = document.getElementsByClassName('PopoutSize')
								, h = t.checked, n;
								//x.style.backgroundColor=h?'':'lightgray';x.readOnly=!h;
								for (var i = 0; i < a.length; i++) {
									x = a[i];
									n = x.name;
									x.disabled = x.readOnly = !h;
									x.style.backgroundColor = h ? '' : 'lightgray';
									if (h)
										x.checked = x.value == t.sz;
									else {
										t.sz = x.checked ? x.value : t.sz;
										x.checked = false;
									}
								}
							}
						</script>
						<input no="91" 
							type="checkbox" 
							id="Popout" 
							ng-blur="blr()" 
							ng-change="chng()" 
							ng-model="sht.Popout" 
							onchange="onChangePopout(event)" 
							class="data switch"/>
						<style>
							label:after {
								display: none
							}
						</style>
						<label for="Popout" style="
								text-decoration: none;
								color: #646464;
								cursor: pointer;
								display: inline-block;
								font-size: 1em;
								font-weight: 400;
								padding-left: 2.4em;
								padding-right: 0.75em;
								position: relative;
							">Popout</label>
						<style>
							label:after {
								position: inherit;
								display: inherit
							}
						</style>
					</td>
				</tr>
				<tr style="height:12.0pt">
					<td colspan="5" class="s8" style="width:73.5pt;border:none;border-bottom:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:12.0pt">
						<input no="92" id="PopoutSize1" ng-blur="blr()" ng-change="chng()" ng-model="sht.PopoutSize" type="radio" value="Small" disabled class="PopoutSize data"/>
						<label for="PopoutSize1">Small</label>
					</td>
					<td colspan="8" class="s8" style="width:73.5pt;border:none;border-bottom:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:12.0pt">
						<input no="93" id="PopoutSize2" ng-blur="blr()" ng-change="chng()" ng-model="sht.PopoutSize" type="radio" value="Medium" disabled class="PopoutSize data"/>
						<label for="PopoutSize2">Medium</label>
					</td>
					<td colspan="7" style="width:73.85pt;padding:0in 5.4pt 0in 5.4pt;height:12.0pt" class="s8 st06">
						<input no="94" id="PopoutSize" ng-blur="blr()" ng-change="chng()" ng-model="sht.PopoutSize" type="radio" value="Large" disabled class="PopoutSize data"/>
						<label for="PopoutSize">Large</label>
					</td>
				</tr>
				<tr style="height:12.0pt">
					<td colspan="20" style="width:220.85pt;padding:0in 5.4pt 0in 5.4pt;height:12.0pt" class="s8 st07">
						<script>
							function onChangeScaling(evt) {
								var x
								, t = evt.target || event.srcElement
								, a = document.getElementsByClassName('Scaling')
								, h = t.checked, n;
								//x.style.backgroundColor=h?'':'lightgray';x.readOnly=!h;
								for (var i = 0; i < a.length; i++) {
									x = a[i];
									n = x.name;
									x.disabled = x.readOnly = !h;
									x.style.backgroundColor = h ? '' : 'lightgray';
									if (h)
										x.checked = x.value == t.sz;
									else {
										t.sz = x.checked ? x.value : t.sz;
										x.checked = false;
									}
								}
							}
						</script>
						<input no="95" 
							type="checkbox" 
							id="isScaling" 
							ng-blur="blr()" 
							ng-change="chng()" 
							ng-model="sht.isScaling" 
							onchange="onChangeScaling(event)" 
							class="data switch">
						<style>
							label:after {
								display: none
							}
						</style>
						<label for="isScaling" style="
								text-decoration: none;
								color: #646464;
								cursor: pointer;
								display: inline-block;
								font-size: 1em;
								font-weight: 400;
								padding-left: 2.4em;
								padding-right: 0.75em;
								position: relative;
							">Scaling</label>
						<style>
							label:after {
								position: inherit;
								display: inherit
							}
						</style>
					</td>
				</tr>
				<tr style="height:12.0pt">
					<td colspan="11" class="s8" style="width:110.35pt;border:none;padding:0in 5.4pt 0in 5.4pt;height:12.0pt">
						<input no="96" id="Scaling1" ng-blur="blr()" ng-change="chng()" ng-model="sht.Scaling" type="radio" value="Light" disabled class="Scaling data"/>
						<label for="Scaling1">Light</label>
					</td>
					<td colspan="9" style="width:110.5pt;padding:0in 5.4pt 0in 5.4pt;height:12.0pt" class="s8 st07">
						<input no="97" id="Scaling2" ng-blur="blr()" ng-change="chng()" ng-model="sht.Scaling" type="radio" value="Medium" disabled class="Scaling data"/>
						<label for="Scaling2">Medium</label>
					</td>
				</tr>
				<tr style="height:8.75pt">
					<td colspan="11" class="s8" style="width:110.35pt;border:none;padding:0in 5.4pt 0in 5.4pt;height:8.75pt">
						<input no="98" id="Scaling3" ng-blur="blr()" ng-change="chng()" ng-model="sht.Scaling" type="radio" value="Severe" disabled class="Scaling data"/>
						<label for="Scaling3">Severe</label>
					</td>
					<td colspan="9" style="width:110.5pt;padding:0in 5.4pt 0in 5.4pt;height:8.75pt" class="s8 st07">
						<input no="99" id="Scaling4" ng-blur="blr()" ng-change="chng()" ng-model="sht.Scaling" type="radio" value="Very_severe" disabled class="Scaling data"/>
						<label for="Scaling4">Very severe</label>
					</td>
					<td colspan="4" rowspan="4" style="width:117.3pt;padding:0in 5.4pt 0in 5.4pt;height:8.75pt" class="s8 st06">
						<b>
							<u>
								<span class="st01">Reinforcement</span>
							</u>
						</b>
						<br/>
						<input no="100" type="checkbox" id="Reinforcement.Exposed" ng-blur="blr()" ng-change="chng()" ng-model="sht.Reinforcement.Exposed" class="data"/>
						<label for="Reinforcement.Exposed" >Exposed</label>
						<br/>
						<input no="101" type="checkbox" id="Reinforcement.Corroded" ng-blur="blr()" ng-change="chng()" ng-model="sht.Reinforcement.Corroded" class="data"/>
						<label for="Reinforcement.Corroded" >Corroded</label>
						<br/>
						<input no="102" type="checkbox" id="Reinforcement.Snapped" ng-blur="blr()" ng-change="chng()" ng-model="sht.Reinforcement.Snapped" class="data"/>
						<label for="Reinforcement.Snapped" >Snapped</label>
					</td>
				</tr>
				<tr style="height:8.75pt">
					<td colspan="11" class="s8" style="width:110.35pt;border:none;border-bottom:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:8.75pt">
						<span class="st01">&nbsp;</span>
					</td>
					<td colspan="9" style="width:110.5pt;padding:0in 5.4pt 0in 5.4pt;height:8.75pt" class="s8 st06">
						<span class="st01">&nbsp;</span>
					</td>
				</tr>
				<tr style="height:7.0pt">
					<td colspan="20" style="width:220.85pt;padding:0in 5.4pt 0in 5.4pt;height:7.0pt" class="s8 st07">
						<script>
							function onChangeSpall(evt) {
								var x
								, t = evt.target || event.srcElement
								, a = document.getElementsByClassName('SpallSize')
								, h = t.checked, n;
								//x.style.backgroundColor=h?'':'lightgray';x.readOnly=!h;
								for (var i = 0; i < a.length; i++) {
									x = a[i];
									n = x.name;
									x.disabled = x.readOnly = !h;
									x.style.backgroundColor = h ? '' : 'lightgray';
									if (h)
										x.checked = x.value == t.sz;
									else {
										t.sz = x.checked ? x.value : t.sz;
										x.checked = false;
									}
								}
							}
						</script>
						<input no="103" 
							type="checkbox" 
							id="isSpall" 
							ng-blur="blr()" 
							ng-change="chng()" 
							ng-model="sht.isSpall" 
							onchange="onChangeSpall(event)" 
							class="data switch">
						<style>
							label:after {
								display: none
							}
						</style>
						<label for="isSpall" style="
								text-decoration: none;
								color: #646464;
								cursor: pointer;
								display: inline-block;
								font-size: 1em;
								font-weight: 400;
								padding-left: 2.4em;
								padding-right: 0.75em;
								position: relative;
							">Spall</label>
						<style>
							label:after {
								position: inherit;
								display: inherit
							}
						</style>
					</td>
				</tr>
				<tr style="height:17.5pt">
					<td colspan="10" class="s8" style="width:108.45pt;border:none;padding:0in 5.4pt 0in 5.4pt;height:17.5pt">
						<input no="104" id="SpallSize1" ng-blur="blr()" ng-change="chng()" ng-model="sht.SpallSize" type="radio" value="Small" disabled class="SpallSize data"/>
						<label for="SpallSize1">Small</label>
					</td>
					<td colspan="10" style="width:112.4pt;padding:0in 5.4pt 0in 5.4pt;height:17.5pt" class="s8 st07">
						<input no="105" id="SpallSize2" ng-blur="blr()" ng-change="chng()" ng-model="sht.SpallSize" type="radio" value="Large" disabled class="SpallSize data"/>
						<label for="SpallSize2">Large</label>
					</td>
				</tr>
				<tr style="height:53.5pt">
					<td colspan="28" style="width:450.9pt;padding:0in 5.4pt 0in 5.4pt;height:53.5pt" class="s8 st05">
						<b>
							<u>
								<span class="st04">Notes:</span>
							</u>
						</b>
						<textarea no="107" ng-blur="blr()" ng-change="chng()" ng-model="sht.notes" class="data" style="width:95%"></textarea>
					</td>
				</tr>
				<tr height="0">
					<td width="73" style="border:none"></td>
					<td width="18" style="border:none"></td>
					<td width="24" style="border:none"></td>
					<td width="24" style="border:none"></td>
					<td width="66" style="border:none"></td>
					<td width="8" style="border:none"></td>
					<td width="4" style="border:none"></td>
					<td width="17" style="border:none"></td>
					<td width="25" style="border:none"></td>
					<td width="1" style="border:none"></td>
					<td width="27" style="border:none"></td>
					<td width="4" style="border:none"></td>
					<td width="11" style="border:none"></td>
					<td width="6" style="border:none"></td>
					<td width="3" style="border:none"></td>
					<td width="15" style="border:none"></td>
					<td width="34" style="border:none"></td>
					<td width="3" style="border:none"></td>
					<td width="11" style="border:none"></td>
					<td width="52" style="border:none"></td>
					<td width="14" style="border:none"></td>
					<td width="7" style="border:none"></td>
					<td width="4" style="border:none"></td>
					<td width="8" style="border:none"></td>
					<td width="24" style="border:none"></td>
					<td width="15" style="border:none"></td>
					<td width="3" style="border:none"></td>
					<td width="98" style="border:none"></td>
				</tr>
			</tbody>
		</table>
		<input type="button" ng-click="sht=app.sht=shtPrev()" value="Previous"/>
		<input type="button" ng-click="del();location.hash='#!/floor'" value="Delete"/>
		<input type="button" ng-click="sht=app.sht=shtNew()" value="New"/>
		<input type="button" ng-click="sht=app.sht=shtNext()" value="Next"/>
		<form action="index.jsp?version=2016/05/31" method="post" onsubmit="onSbmt" enctype="multipart/form-data">
			<input type="file" ng-blur="blr()" ng-change="chng()" ng-model="sht.img1" accept="image/*;capture=camera" class="data"/>
			<img id="img1" style="width:95%"/>
			<hr/>
			<input type="file" ng-blur="blr()" ng-change="chng()" ng-model="sht.img2" accept="image/*;capture=camera" class="data"/>
			<img id="img2" style="width:95%"/>
			<hr/>
			<input type="file" ng-blur="blr()" ng-change="chng()" ng-model="sht.img3" accept="image/*;capture=camera" class="data"/>
			<img id="img3" style="width:95%"/>
			<hr/>
			<input type="file" ng-blur="blr()" ng-change="chng()" ng-model="sht.img4" accept="image/*;capture=camera" class="data"/>
			<img id="img4" style="width:95%"/>
			<hr/>
		</form>
	</div>
</div>
